@import '~antd/dist/antd.css';

.mainContent {
    background-color: #fff;
    padding: 10px;
    height: calc(100vh - 75px);
}

.loginButtonText,
.logoutButtonText {
    color: #fff;
}

.ant-page-header-heading-title {
    color: #fff;
}

.mainContent {
    padding: 20px;
}

.logotype {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
}

.logotype .logoText {
    margin-left: 10px;
}

